@color-green: #80a71d; // переменная для объектов зеленого цвета
@color-yellow: #d8d452; // переменная для объектов желтого цвета
@color-tel: #8b8b8b; // цвет телефона 
@color-mainTitle: #552404; // цвет основного заголвка
@color-deliveryPrice: #552404; // цвет панели доставки
@color-headings: #2b2b2b; // цвет ВСЕХ заголовков
@color-text: #555; // цвет текста
@color-sliderElements: #a2a2a2; // цвет элемента слайдера
@color-borderWhyUs: #d8d452; // цвет блока "Почему мы?"
@color-successfullOrder: #a57d63; // цвет текста PopUp
@fontsize-major: 18px; // основной размер шрифта всего лендоса
@fontsize-buttons: 20px; // размер шрифта кнопок
@fontsize-mainTitle: 80px; // размер шрифта главного заголовка
@fontsize-textTitle: 36px; // размер слогана
@fontsize-deliveryPrice: 30px; // размер шрифта панели доставки
@fontsize-headings: 30px; // размер шрифта ВСЕХ заголовков
@fontsize-certificate: 24px; // размер шрифта сертификата 
@fontsize-chooseLitr: 24px; // размер шрифта на элементах выбора количества молока
@fontsize-remark: 16px; // размер шрифта примечания
@fontsize-developers: 12px;
.clearfix() {
    &:before,
    &:after {
        display: table;
        content: "";
    }
    &:after {
        clear: both;
    }
}

.button-paddings(@topbottom: 15px;
@leftright: 20px) {
    padding: @topbottom @leftright;
    text-transform: uppercase;
}

//==========end of attributes============\\
html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
}

.container-tel {
    width: 100%;
    height: 45px;
    background-color: #fff;
    text-align: right;
    line-height: 45px;
    a {
        color: @color-tel;
        font-size: @fontsize-major;
        text-decoration: none;
    }
}

.container-menu {
    width: 100%;
    height: 90px;
    background-color: @color-green;
    .navbar-brand {
        float: left;
        img {
            margin-top: -7px;
        }
    }
    nav {
        padding: 0;
        ul {
            margin: 20px 0;
            li {
                margin-left: 20px;
                a {
                    color: #fff;
                    font-size: @fontsize-major;
                    &:hover, &:focus {
                        background-color: transparent!important;
                    }
                }   
                a.btn-call {
                    .button-paddings();
                    background-color: @color-yellow;
                    text-transform: uppercase;
                    border-radius: 5px;
                    &:hover, &:focus {
                        background-color: @color-yellow!important;
                    }
                }
            }
        }
    }
}